@charset "utf-8";
.exchange-content{
	width: 100%;
    box-sizing: border-box;
    padding: 0 0;
    overflow: hidden;
    font-size: 0;
}
.exchange-conter{
	margin-top: 1.825rem;
	margin-bottom: 1.825rem;
	font-size: 0.6rem;
	font-family: "宋体";
}
.ex-change{
	width: 100%;
	height: 2.6rem;
	background-color: #FFFFFF;
	border-bottom: 0.05rem solid #F1F1F1;
}
.ex-tb{
	display: block;
	text-align: center;
	line-height: 2.6rem;
	font-family: "微软雅黑";
	font-size: 0.68rem;
}
.ex-tb:before{
	content: '√';
	width: 0.9rem;
	height: 0.9rem;
	display: inline-block;
	border-radius: 0.9rem;
	background-color: #ff4300;
    font-size: 0.54rem;
    text-align: center;
	line-height: 0.9rem;
	font-weight: 600;
	color: white;
	margin-right: 0.2rem;
}
.ex-dz{
	width: 100%;
	height: 2.6rem;
	background-color: #FFFFFF;
	border-bottom: 0.05rem solid #F1F1F1;
	padding-left: 1.0rem;
}
.ex-dz>p{
	padding: 0.4rem 0 0 0;
	text-align: left;
}
.exchange-dz{
	font-size: 0.5rem;
}
.ex-em{
	margin-left: 2.2rem;
}

/*
 * 商品详情
 */
.ex-item{
	width: 100%;
	height: 4.6rem;
	margin-top: 0.8rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	background-color: #FFFFFF;
	box-sizing: border-box;
	border-bottom:1px solid #F1F1F1 ;
}
.ex-item .ex-img{
	width: 30%;
	height: 100%;
	float: left;
}
.ex-item .ex-xx{
	width: 70%;
	height: 100%;
	float: left;
	text-align: left;
	box-sizing: border-box;
	padding-left: 0.2rem;
}
.ex-item .ex-img img{
	width: 90%;
	height: 82%;
	padding-top: 0.4rem;
}
.ex-item .ex-xx .ex-name{
	display: block;
	padding-top: 0.3rem;
	text-decoration:none;
	font-size: 0.76rem;
	color: #231815;
}
.ex-item .ex-xx .ex-spxq{
	width: 100%;
	height: auto;
	font-size: 0.58rem;
	line-height: 0.7rem;
}
.ex-ys{
	margin-top: 0.2rem;
}
.ex-ys p{
	width: 100%;
	margin: 0.1rem 0 ;
	font-size: 0.6rem;
}

