@charset "utf-8";
.exchange-content{
	width: 100%;
    box-sizing: border-box;
    padding: 0 0;
    overflow: hidden;
    font-size: 0;
}
.exchange-conter{
	margin-top: 1.825rem;
	margin-bottom: 1.825rem;
	font-size: 0.6rem;
	font-family: "宋体";
}
.ex-change{
	width: 100%;
	height: 2.6rem;
	background-color: #FFFFFF;
	border-bottom: 0.05rem solid #F1F1F1;
}
.ex-tb{
	display: block;
	text-align: center;
	line-height: 2.6rem;
	font-family: "微软雅黑";
	font-size: 0.68rem;
}
.ex-tb:before{
	content: '√';
	width: 0.9rem;
	height: 0.9rem;
	display: inline-block;
	border-radius: 0.9rem;
	background-color: #ff4300;
    font-size: 0.54rem;
    text-align: center;
	line-height: 0.9rem;
	font-weight: 600;
	color: white;
	margin-right: 0.2rem;
}
.ex-dz{
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	border-bottom: 0.05rem solid #F1F1F1;
	padding-left: 0.6rem;
}
.ex-dz>p{
	padding: 0.2rem 0.8rem 0.2rem 0;
	text-align: left;
}
.exchange-dz{
	font-size: 0.5rem;
}
.ex-em{
	margin-left: 5.6rem;
}

/*
 * 商品详情
 */
.ex-item{
	width: 100%;
	height: 4.6rem;
	margin-top: 0.8rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	background-color: #FFFFFF;
	box-sizing: border-box;
	border-bottom:1px solid #F1F1F1 ;
}
.ex-item .ex-img{
	width: 30%;
	height: 100%;
	float: left;
}
.ex-item .ex-xx{
	width: 70%;
	height: 100%;
	float: left;
	text-align: left;
	box-sizing: border-box;
	padding-left: 0.2rem;
}
.ex-item .ex-img img{
	width: 90%;
	height: 82%;
	padding-top: 0.4rem;
}
.ex-item .ex-xx .ex-name{
	display: block;
	padding-top: 0.3rem;
	text-decoration:none;
	font-size: 0.70rem;
	color: #231815;
}
.ex-item .ex-xx .ex-spxq{
	width: 100%;
	height: auto;
	font-size: 0.58rem;
	line-height: 0.7rem;
}
.ex-ys .ex-p{
	width: 100%;
	font-size: 0.6rem;
}

.exchange-list{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	background: #FFFFFF;
}
.ex-coom{
	width: 100%;
	height: 2.0rem;
	border-bottom:0.05rem solid #F1F1F1 ;
	line-height: 2.0rem;
	padding: 0 0.6rem;
	font-size: 0.58rem;
	color: #919191;
}
.ex-p-span{
	color: #FF0000;
}


footer{
	display: block;
}
.ex-foot{
	width: 100%;
	height: 2.8rem;
	margin: 0.9rem 0;
}
.ex-bottom{
	background-color: #296eb6;
    display: block;
    width: 14.8rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.0rem;
    text-align: center;
    border-radius: 0.2rem;
    margin: 0 auto;
    font-family: "黑体";
    font-weight: 500;
    color: #fff;
}