@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
}
html{
	font-size: 62.5%;
	width: 100%;
	height: auto;
}
body{
	background-color: #eaeaea;
	width: 100%;
	height: auto;
}
/*
 * content
 */
.friends-art{
	width: 100%;
    box-sizing: border-box;
    padding: 0 0.465rem;
    overflow: hidden;
    font-size: 0;
}
.fcontent{
	margin-top: 2.222rem;
	margin-bottom: 1rem;
	font-size: 0.6rem;
	font-family: "宋体";
}
.fcontent .big-con{
   text-align: center;
   font-size: 0.9rem;
}
.fcontent .big-con .fs-qian{
	color: #F03F17;
	font-size: 1.2rem;
	font-weight: 600;
	font-family: "微软雅黑";
}
.fcontent .big-con .fs-number{
	font-size: 3.2rem;
	font-family: arial;
	color: #F03F17;
}
.fcontent .big-con .fs-gz{
	margin-top: 0.2rem;
	text-align: left;
	font-size: 0.7rem;
	line-height: 1.0rem;
	color: #727171;	
	padding:0.2rem;
}
.fcontent .big-con .fs-lj{
	margin-top: 0.4rem;
	text-align: left;
	padding:0.2rem;
}
.fs-lj ul{
	list-style-type: none;
}
.fs-lj li{
	line-height:1.2rem;
	font-size: 0.8rem;
	color: #000000;
}
.fs-lj li a{
	float: right;
	text-align: right;
	padding-right: .6rem;
	color: #727171;
}

footer .ter-yq{
	background-color: #296eb6;
    display: block;
    width: 14.8rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.0rem;
    text-align: center;
    border-radius: 0.2rem;
    margin: 0 auto;
    font-family: "黑体";
    font-weight: 500;
    color: #fff;
}
footer .ter-sc{
	background-color: #296eb6;
    display: block;
    width: 14.8rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.0rem;
    text-align: center;
    border-radius: 0.2rem;
    margin: 0 auto;
    font-family: "黑体";
    font-weight: 500;
    color: #fff;
}
footer .ter-kong{
	height: 0.56rem;
	width: 100%;
}
