@charset "utf-8";
.mall-content{
	width: 100%;
    box-sizing: border-box;
    padding: 0 0;
    overflow: hidden;
    font-size: 0;
}
.mall-conter{
	margin-top: 1.825rem;
	margin-bottom: 1.825rem;
	font-size: 0.6rem;
	font-family: "宋体";
}
.mall-list{
	width: 100%;
	height: auto;
	/*border: 1px solid red;*/
}
.mall-list .mall-item{
	width: 100%;
	height: 4.4rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	background-color: #FFFFFF;
	border-bottom: 1px solid #A6A6A7;
	border: 1px solid blue;
	box-sizing: border-box;
}
.mall-item .mall-img{
	width: 30%;
	height: 100%;
	float: left;
}
.mall-item .mall-xx{
	width: 70%;
	height: 100%;
	float: left;
	text-align: left;
	box-sizing: border-box;
}
.mall-item .mall-img img{
	width: 90%;
	height: 82%;
	padding-top: 0.4rem;
}
.mall-item .mall-xx .mall-name{
	display: block;
	padding-top: 0.2rem;
	text-decoration:none;
	color: #666666;
	font-size: 0.6rem;
}
.mall-item .mall-xx .mall-spxq{
	width: 100%;
	height: 1.6rem;
	font-size: 0.5rem;
}
.mall-ys{
	margin-top: 0.2rem;
}
.mall-ys p{
	width: 5.5rem;
}
.mall-ys .mall-jfhq{
	color: #ff7e00;
	font-size: 0.5rem;
}
.mall-ys .mall-number{
	color: #afafaf;
	font-size: 0.5rem;
}
.mall-ys .mall-llgm{
	display: block;
	float: right;
	margin-right: 0.6rem;
	background-color: #ff4800;
	width: 3.0rem;
	height: 1.0rem;
	margin-top: -0.5rem;
	color: white;
	text-align: center;
	line-height: 1.0rem;
	border-radius: 0.4rem;
	font-size: 0.5rem;
}
