@charset "utf-8";
.mall-content{
	width: 100%;
    box-sizing: border-box;
    padding: 0 0;
    overflow: hidden;
    font-size: 0;
}
.mall-conter{
	margin-top: 1.825rem;
	margin-bottom: 1.825rem;
	font-size: 0.6rem;
	font-family: "宋体";
}
