@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
}
html{
	font-size: 62.5%;
	width: 100%;
	height: 100%;
}
/*
 * 通用样式
 */
body{
	width: 100%;
	height: 100%;
	background-image: url(../img/redbg/red.png);
	background-color: #F03F17;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.red-see{
	background-color: #f8d440;
	display: block;
	width: 8.2rem;
	height: 2.5rem;
	line-height: 2.5rem;
	font-size: 1.0rem;
	text-align: center;
	border-radius: 0.4rem;
	margin: 0 auto;
	font-family: "黑体";
	font-weight: 600;
	color: #f03f17;
	border: 2px solid white;
}
.red-package{
	height: 84%;
}
