@charset "utf-8";
.money-content{
	width: 100%;
    box-sizing: border-box;
    padding: 0 0;
    overflow: hidden;
    font-size: 0;
}
.money-conter{
	margin-top: 1.825rem;
	margin-bottom: 1.825rem;
	font-size: 0.6rem;
	font-family: "宋体";
}
.money-conter .money-yue{
	width: 100%;
	height: 1.8rem;
	line-height: 1.8rem;
	border-bottom: 1px solid #EAEAEA;
	background-color: #FFFFFF;
}
.money-yue .yue-sp{
	padding-left: 1.0rem;
	font-size:0.8rem ;
}
.money-yue .yue-zt{
	color: #FF0000;
	font-family: "微软雅黑";
	padding-left: 0.4rem;
}
.money-conter .money-zfb{
	width: 100%;
	height: 1.8rem;
	line-height: 1.8rem;
	background-color: #296EB6;
}
.money-zfb .yue-zfb{
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size:0.9rem ;
	padding-left: 1.0rem;
}
.money-yue .yue-zhm{
	font-size: 0.8rem;
	padding-left:1.0rem ;
}
.money-yue input[type=text]{
	width: 10.15rem;
	height: 1.5rem;
	font-size: 0.6rem;
	padding-left: 0.2rem;
}
.money-content .moeny-xjtq{
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;
	padding: 0 1.0rem;
	font-size: 0.6rem;
}
.money-content button{
	background-color: #296eb6;
    display: block;
    width: 14.8rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.0rem;
    text-align: center;
    border-radius: 0.2rem;
    margin: 0 auto;
    font-family: "黑体";
    font-weight: 500;
    color: #fff;
}
.money-boot{
	bottom: 0;
	position: absolute;
}
.money-foot{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 0.6rem;
}

