@charset "utf-8";
.order-content{
	width: 100%;
    box-sizing: border-box;
    padding: 0 0;
    overflow: hidden;
    font-size: 0;
}
.order-conter{
	margin-top: 1.825rem;
	margin-bottom: 1.825rem;
	font-size: 0.6rem;
	font-family: "宋体";
}
.order-tjdz{
	width: 100%;
	height: 2.8rem;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 2.8rem;
}
.order-tjdz .tjdz-a{
	color: #A6A6A7;
	font-size: 0.66rem;
	font-family: "微软雅黑";
	font-weight: 500;
}
.order-tjdz .tjdz-a .tjdz-jh{
	font-size: 1.0rem;
	padding: 0 0.2rem 0 0;
	margin-top: 0.2rem;
}



.order-item{
	width: 100%;
	height: 4.4rem;
	margin-top: 0.6rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	background-color: #FFFFFF;
	box-sizing: border-box;
	border-bottom:1px solid #F1F1F1 ;
}
.order-item .order-img{
	width: 30%;
	height: 100%;
	float: left;
}
.order-item .order-xx{
	width: 70%;
	height: 100%;
	float: left;
	text-align: left;
	box-sizing: border-box;
	padding-left: 0.2rem;
}
.order-item .order-img img{
	width: 90%;
	height: 82%;
	padding-top: 0.4rem;
}
.order-item .order-xx .order-name{
	display: block;
	padding-top: 0.3rem;
	padding-bottom: 0.2rem;
	text-decoration:none;
	font-size: 0.8rem;
	color: #231815;
}
.order-item .order-xx .order-spxq{
	width: 100%;
	height: auto;
	font-size: 0.6rem;
}
.order-ys{
	margin-top: 0.2rem;
}
.order-ys p{
	width: 100%;
	margin: 0.1rem 0 ;
	font-size: 0.6rem;
}

.order-number{
	widows: 100%;
	height: 2.2rem;
	background-color: #FFFFFF;
	padding:0 0.6rem;
	line-height: 2.2rem;
	text-align: left;
	color: #9E9E9E;
	border-bottom: 1px solid #F1F1F1;
}
.order-jiajian{
	float: right;
	margin-top: 0.42rem;
}
.order-xiala{
	float: right;
}
.order-select{
	width: 6.0rem;
	height: 1.2rem;
	border: 1px solid #F1F1F1;
	font-size: 0.6rem;
}
.order-kddf{
	float: right;
	color: #231815;
	font-weight: 600;
}
.order-zj{
	float: right;
	font-size: 0.72rem;
	font-weight: 600;
}
.order-zj-color{
	color: #FF0000;
}
footer{
	display: block;
}
.order-foot{
	width: 100%;
	height: 2.8rem;
	margin: 0.9rem 0;
}
.order-bottom{
	background-color: #296eb6;
    display: block;
    width: 14.8rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.0rem;
    text-align: center;
    border-radius: 0.2rem;
    margin: 0 auto;
    font-family: "黑体";
    font-weight: 500;
    color: #fff;
}
