@charset "utf-8";
.record-coom{
	width: 100%;
    box-sizing: border-box;
    padding: 0 0;
    overflow: hidden;
    font-size: 0;
}
.record{
	margin-top: 1.8rem;
	margin-bottom: 1rem;
	font-size: 0.6rem;
	font-family: "宋体";
}
.my-People-top{
	background-color: #2d6db6;
	width: 100%;
	height: 1.6rem;
	color: #FFFFFF;
	font-size: .8rem;
	font-family: "微软雅黑";
}
.my-People{
	width: 100%;
	height: 1.8rem;
	line-height: 1.8rem;
	padding: 0 0.6rem;
	box-sizing: border-box;
}
.my-People .top-a{
	float: right;
	text-align: right;
	color: #FFFFFF;
	font-size: .8rem;
	font-family: "微软雅黑";
}
.my-People .people-name{
	font-size: .7rem;
	font-family: "宋体";
}
.my-People .people-time{
	float: right;
	text-align: right;
	font-size: .7rem;
	font-family: "宋体";
}
